COMPOSE_PROJECT_NAME=bi-ia-prototype-release
FRONTEND_PORT=8080
BACKEND_PORT=18000
LOCAL_POSTGRES_PORT=55433
LOCAL_SQLSERVER_PORT=51434

APP_NAME=Prototipo BI asistido por IA
APP_VERSION=0.1.0
CORS_ORIGINS=["http://localhost:8080"]

POSTGRES_DB=bi_prototype
POSTGRES_USER=bi_app
POSTGRES_PASSWORD=ChangeMe_Postgres_2026!

SQLSERVER_DATABASE=AdventureWorks2022
SQLSERVER_USER=bi_reader
SQLSERVER_PASSWORD=ChangeMe_Reader_2026!
SQLSERVER_SA_PASSWORD=ChangeMe_SA_2026!

IMAGE_PREFIX=ghcr.io/lfxas/prototipo-bi-ia
IMAGE_TAG=main
