APP_ENV=development
APP_DEBUG=true
CORS_ORIGINS=["http://localhost:5173"]
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=bi_prototype
POSTGRES_USER=bi_app
POSTGRES_PASSWORD=change_me
SQLSERVER_HOST=sqlserver
SQLSERVER_PORT=1433
SQLSERVER_DATABASE=AdventureWorks2022
SQLSERVER_USER=bi_reader
SQLSERVER_PASSWORD=change_me
